.card {
  @include card;
  background-color: white;
  text-align: left;
  margin: 30px auto auto 0;
}

@media screen and (max-width: $medium-breakpoint) {
  .cards {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
  }
}
